<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<div th:fragment="success(message)" class="alert alert-success" role="alert">
    <span th:text="${message}">[Success Message]</span>
</div>

<div th:fragment="warning(message)" class="alert alert-warning" role="alert">
    <span th:text="${message}">[Warning Message]</span>
</div>

<div th:fragment="error(message)" class="alert alert-danger" role="alert">
    <span th:text="${message}">[Error Message]</span>
</div>
