<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<div th:fragment="header(currentPage)">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <span class="me-2 fs-4 fa-brands fa-github"></span>
                    <span class="fs-4">Pull Request Manager</span>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" th:classappend="${currentPage} == 0 ? 'text-secondary' : 'text-white'" class="nav-link px-2">Repos</a></li>
                    <li><a href="/pulls" th:classappend="${currentPage} == 1 ? 'text-secondary' : 'text-white'" class="nav-link px-2">Pulls</a></li>
                </ul>

                <div class="row text-end">
                    <div class="col" sec:authentication="details.user.name">
                        [User Name]
                    </div>
                    <div class="col-sm-2">
                        <img th:src="${#authentication.details?.user?.avatarUrl}" alt="mdo" width="32" height="32" class="rounded-circle">
                    </div>
                    <div class="col-sm-4">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-warning">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div style="height: 1rem"></div>

    <div class="container">
        <div th:replace="fragments/alerts :: info(#{token.expiration(${#temporals.formatISO(#authentication.details?.expiry)})})">[Token Expiration]</div>
    </div>

</div>

</html>