<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title th:text="| #{application.title} - #{prDetails.title} ${pr.number()} |">Pull Man</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link th:href="@{/css/fa-all.min.css}" th:rel="stylesheet">
    <link th:href="@{/css/headers.css}" th:rel="stylesheet">
    <link th:href="@{/css/list-groups.css}" th:rel="stylesheet">
    <link th:href="@{/css/application.css}" th:rel="stlyesheet">
</head>
<body>

<main>

    <div th:replace="fragments/header :: header(1)"></div>

    <div class="container">

        <th:block th:if="${merged != null && merged}">
            <div th:replace="fragments/alerts :: success(#{prDetails.message.mergedSuccessful})">[Success Message]</div>
        </th:block>
        <th:block th:if="${merged != null && !merged}">
            <div th:replace="fragments/alerts :: warning(#{prDetails.message.mergedFailure})">[Failure Message]</div>
        </th:block>

        <th:block th:if="${closed != null && closed}">
            <div th:replace="fragments/alerts :: success(#{prDetails.message.closeSuccessful})">[Success Message]</div>
        </th:block>
        <th:block th:if="${closed != null && !closed}">
            <div th:replace="fragments/alerts :: warning(#{prDetails.message.closeFailure})">[Failure Message]</div>
        </th:block>

        <th:block th:unless="${writeAllowed}">
            <div th:replace="fragments/alerts :: info(#{prDetails.message.permissionReadOnly})">[Read Only Message]</div>
        </th:block>

        <h2 th:text="#{prDetails.title}">[Pull Request Details]</h2>

        <h3 th:text="${pr.title()}">[Summary]</h3>

        <div class="row mb-3">
            <dt class="col-sm-4 mb-0" th:text="#{pulls.state}">[State]</dt>
            <dd class="col-sm-8 mb-0" th:with="sk = ${pr.state() ?: 'Unknown'}" th:text="#{'pulls.state.' + ${sk}}">[State]</dd>

            <dt class="col-sm-4 mb-0" th:text="#{pulls.sourceBranch}">[Source Branch]</dt>
            <dd class="col-sm-8 mb-0" th:text="${pr.head().label()}">[Source Branch]</dd>

            <dt class="col-sm-4 mb-0" th:text="#{pulls.targetBranch}">[Target Branch]</dt>
            <dd class="col-sm-8 mb-0" th:text="${pr.base().label()}">[Target Branch]</dd>

            <dt class="col-sm-4 mb-0" th:text="#{prDetails.author}">[Author]</dt>
            <dd class="col-sm-8 mb-0" th:text="${pr.user.login()}">[Author]</dd>

            <dt class="col-sm-4 mb-0" th:text="#{prDetails.changedFiles}">[Changed Files]</dt>
            <dd class="col-sm-8 mb-0" th:text="${pr.changedFiles()}">[Changed Files]</dd>

            <dt class="col-sm-4 mb-0" th:text="#{prDetails.mergeable}">[Mergeable]</dt>
            <dd class="col-sm-8 mb-0" th:text="${canMerge}">[Mergeable]</dd>

            <dt class="col-sm-4 mb-0" th:text="#{prDetails.merged}">[Merged]</dt>
            <dd class="col-sm-8 mb-0" th:text="${pr.merged()}">[Merged]</dd>
        </div>

        <div class="btn-group mb-3" role="group">
            <form class="p-1 m-0 border-0" th:action="@{/pulls/merge/{owner}/{repo}/{number}(owner = ${owner}, repo=${repo}, number=${pr.number()})}" method="post">
                <button type="submit" th:classappend="${canMerge && writeAllowed ? '' : 'disabled'}" class="btn btn-primary" th:text="#{prDetails.action.merge}">Merge</button>
            </form>

            <form class="p-1 m-0 border-0" th:action="@{/pulls/close/{owner}/{repo}/{number}(owner = ${owner}, repo=${repo}, number=${pr.number()})}" method="post">
                <button type="submit" th:classappend="${pr.state().name() == 'CLOSED' || !writeAllowed ? 'disabled' : ''}" class="btn btn-primary" th:text="#{prDetails.action.close}">Close</button>
            </form>

            <form class="p-1 m-0 border-0" th:action="@{/pulls/download/{owner}/{repo}/{number}(owner = ${owner}, repo=${repo}, number=${pr.number()})}" method="post">
                <button type="submit" class="btn btn-primary" th:text="#{prDetails.action.download}">Download Files</button>
            </form>
        </div>

        <div class="card text-bg-light">
            <div class="card-header">Body</div>
            <div class="card-body">
                <p class="card-text" th:text="${pr.body()}">[Body Text]</p>
            </div>
        </div>

    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

</body>
</html>